var answerId = <%= answer.id %>;
var previousBestAnswer = document.querySelector('.best-answer .best-answer-info');
console.log(previousBestAnswer);

$('.notice').html('You chose the best answer.');
$('.best-answer').html('<h2>Best Answer</h2><p><%= j render answer %></p>');
$('.answers-list #answer-info-' + answerId).parent().remove();

if (previousBestAnswer) {
  $('.answers-list').append('<li class="previous-best-answer"></li>');
  $('.previous-best-answer').append(previousBestAnswer);
}