var answerId = <%= answer.id %>;
var previousBestAnswer = $('.best-answer .best-answer-info');
var thisAnswerContainer = $('.answers-list #answer-info-' + answerId);

if (previousBestAnswer.length > 0) {
    if ( !document.querySelector('.last-best-answer') ) {
        $('.answers-list').append('<li class="last-best-answer"></li>');
    }
    var lastBestAnswer = $('.last-best-answer');
    lastBestAnswer.append(previousBestAnswer.children());
    $('.last-best-answer .best-answer-link').removeClass('hidden');
    lastBestAnswer.removeAttr("class");
}

$('.notice').html('<%= I18n.t('notifications.best_answer') %>');
$('.best-answer').html('<%= j render 'best_answer' %>');

thisAnswerContainer.parent().addClass('last-best-answer hidden');
thisAnswerContainer.parent().children().remove();