$('.new-answer-errors').html('<%= render 'shared/errors', resource: @answer %>');
var answerNotice = '';

<% if answer.persisted? %>
  $('.answers-list').append('<li><%= j render answer %></li>');
  $('#answer_body').val('');
  answerNotice = 'Answer was successfully created.';
<% else %>
  answerNotice = "Answer wasn't created; check your input.";
<% end %>

$('.notice').html(answerNotice);